body {
  font-family: Arial, sans-serif;
  background-color: rgb(190, 190, 190);
  padding: 40px;
  text-align: center;
}

form {
  margin-bottom: 30px;
}

input, button {
  padding: 10px;
  margin: 8px;
  border: 1px solid black;
  border-radius: 6px;
  font-size: 16px;
}

button {
  background-color: #313131;
  color: white;
  border: none;
  transition: background-color 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: #545353;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
  padding: 12px 16px;
  border: 1px solid #ddd;
  text-align: center;
}

thead {
  background-color: #313131;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
